@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

@layer components {
    .nav-list {
        @apply text-3xl cursor-pointer;
    }

    .vert-text {
        text-orientation: upright;
        writing-mode: vertical-rl;
        font-size: 2.5rem;
    }

    .wordle-letter {
        @apply flex items-center justify-center w-16 h-16 rounded-xl border-[3px] border-white text-white;
    }

    .wordle-word {
        @apply w-fit flex justify-between gap-3 rounded-xl px-60;
    }

    .settings-buttons {
        @apply py-2 px-4 rounded-full font-bold text-neutral-500 border border-neutral-200 transition ease-in duration-100 hover:text-white hover:bg-neutral-500 outline-none;
    }
}
